/* Universal Style */

*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Common Style */
.container{
  max-width: 1280px;
  margin: 0 auto;
}

.common-btn {
    background-color:#1D4ED8;
    padding: 12px 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

/* Navbar style  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}


nav ul{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 40px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

nav ul li a:hover{
  background-color: rgb(227, 221, 221);
  padding: 8px;
  /* border: 1px solid red; */
  border-radius: 8px;
}


/* Banner Section Style */
.banner-container{
  min-height: 100vh;
  /* width: 100%; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  margin-bottom: 80px;
}
.banner-content{
    width:750px;
    padding:20px;
    height: 55gi0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banner-description h1{
  font-size: 4rem;
  margin-bottom: 50px;
}
.banner-description p{
  font-size: 1.5rem;
  margin-bottom: 50px;
}

/* Meet the Speakers Section */
.speakers h2{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
.speakers-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 80px;
}
.speakers-container img{
  margin-bottom: 10px;
}
.speakers-card-content{
  padding-left: 12px;
}
.speakers-card-content p{

  color: #2563eb;
}
.speakers-card-content h3{
  color: #0D1B2A;
  padding: 8px 0;
}
.speakers-card-content .designation{
  color: #575757;
}

/* Secure Your Spot */
.price-section h2{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
.price-section p{
  color: #575757;
  margin: 10px 0 50px;
  text-align: center;
}
.price-container{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 80px;
}
.price-card{
  background: #f4f7fa;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 100%;
}
.pro-card{
  background-color: #0D1B2A;
  color: #ffffff;
}
.pro-card .pro-title{
  color: #4E7196;
}
.price-card span{
    color: #575757;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;   
}
.price-card h3{
  font-size: 3rem;
  margin-top: 10px;
}
.price-card small{
  color: #575757;
}
.price-card hr{
    margin:20px 0;
    border-top:1px solid #dddddd;
}
.price-card ul li{
    margin:12px 0;
    font-size:15px;
    list-style: disc;
    color: #575757;
}
.price-card .pro-list-item li{
  color: #dddddd;
}
li::marker {
  color: #2563eb;
}
.price-card button{
    width: 100%;
    border: 1px solid #2f64ff;
    background: white;
    color: #2f64ff;
    margin-top: 12px;
}
.price-card .pro-btn{
    background-color: #2f64ff;
    color: #dddddd;
}
.price-card .team-btn{
  width: 100%;
    border: 1px solid black;
    /* background-color: #2f64ff; */
    /* background: white; */
    color: black;
    margin-top: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

/* Additional Section (Why Attend Dev Conference 2026?) style */
.why-attend{
    text-align: center;
}
.why-attend h2{
    font-size: 40px;
    margin-bottom: 50px;
}
.features{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 50px;
    margin-bottom: 80px;
}
.feature-card{
    background:white;
    padding:35px 25px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}
.feature-card i{
    font-size:45px;
    color:#2563eb;
    margin-bottom:20px;
}
.feature-card h3{
    margin-bottom:15px;
}
.feature-card p{
    color:#666;
    line-height:1.6;
}


























/* footer style */
.footer{
    background: #0D1B2A;
    color: white;
    padding: 40px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.social-links{
    display:flex;
    gap:18px;
}
.social-links a{
    width:40px;
    height:40px;
    border:1px solid #294793;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-decoration:none;
}
.social-links a:hover{
    background:#2f64ff;
}
.footer-bottom{
    text-align:center;
    color:#c2bbbb;
    font-size:15px;
    margin-top: 25px;
}




